<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not found page</title>
    <link rel="stylesheet" href="/public/styles/404.css" />
  </head>
  <body>
    
    <%- body %>

    <script src="/public/js/404.js"></script>
  </body>
</html>
